<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./static/images/favion2.png">
    <title>Recruiter AI - Hiring with AI-powered Candidate Selection</title>
    
    <!-- Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    
    <!-- Static CSS-->
    <link rel="stylesheet" href="../static/CSS/style.css"/>
    <script src="../static/js/script.js" defer> </script>
    <script src="../static/js/voice_input.js" defer> </script>
    <style>
        
    </style>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <nav class="navbar">
        <h1 onclick="window.location.href='/'" >Recruiter AI</h1>
        <div class="nav-links">
            <a href="/process" class="nav-link">All Process</a>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </nav>

    <div id="uploadData">
        <h2>Upload Your Job Description</h2>
        <p>You can upload your job description in three ways:</p>
        <div>
            <h3>1. Text Input</h3>
            <input type="file" id="pdfInput" accept=".pdf,.txt">
            <p style="font-size: 13px; color: gray;">
                * Note: Only PDF and TXT file types are allowed for upload.
            </p>
            <button onclick="uploadPDF()">Process PDF/TXT</button>
            
        </div>

        <div>
            <h3>2. Voice Input</h3>
            <div>
                <div class="question" id="question">Talk to an avatar</div>
                <div class="answer" id="answer"></div>
                <button id="startButton">Start</button>
            </div>
            <div id="videoPopup">
                <video id="questionVideo">
                    <source src="../static/Untitled_Video.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div id="instructions">
                    Say "skip" to skip the question, "repeat" to repeat the question
                </div>
                <button id="cancelButtonVideo" onclick="closeVideoPopupAndRedirect()">Cancel</button>
            </div>
        </div>

        <div>
            <h3>3. Talk to AI</h3>
            <button id="" class="primary-button" onclick="openAIChat()">Chat with AI</button>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="loader" id="loader"></div>
    <div id="aiChatPopup" class="popup">
        <span class="close-btn" onclick="openCenteredAlert()">&times;</span>
        <h3>Interactive AI Assistant</h3>
        <div class="chat-container" >
            <div id="chat-output"></div>
            <div class="status-indicator" id="status"></div>
            <div class="event-btn">
                <button id="voice-btn" onclick="startConversation()">Start Conversation</button>
                <button id="stop-btn" onclick="stopListening()">Stop Listening</button>
            <div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"
        integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
        crossorigin="anonymous"></script>
    
    <script>
       
        

    </script>
    
    </body>
    </html>
