
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- slider -->
    <link rel="stylesheet" type="text/css" href="https://www.yourbestcandidate.ai/static/assets/css/slick.css" />

    <!-- css -->
    <link rel="stylesheet" href="https://www.yourbestcandidate.ai/static/assets/css/style.css">
    <link rel="shortcut icon" href="./static/images/favion2.png" style="height:26px;width:26px">

    <meta charset="utf-8">
    <title>YourBestRecruiterAI: Hiring with AI-powered Candidate Selection</title>
    <meta name="description" content="YourBestCandidateAI streamlines hiring with AI-powered candidate selection. Find qualified talent faster, saving time and improving your recruitment process.">
    <meta name="author" content="YourBestCandidateAI">
    <meta name="copyright" content="YourBestCandidateAI">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"/>
    <link rel="canonical" href="https://www.yourbestcandidate.ai/" />

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="YourBestCandidateAI: Hiring with AI-powered Candidate Selection">
    <meta property="og:url" content="https://www.yourbestcandidate.ai/">
    <meta property="og:image" content="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai.svg">
    <meta property="og:description" content="YourBestRecruiterAI streamlines hiring with AI-powered candidate selection. Find qualified talent faster, saving time and improving your recruitment process.">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="YourBestRecruiterAI: Hiring with AI-powered Candidate Selection">
    <meta name="twitter:site" content="@https://www.yourbestcandidate.ai/">
    <meta name="twitter:description" content="YourBestRecruiterAI streamlines hiring with AI-powered candidate selection. Find qualified talent faster, saving time and improving your recruitment process.">
    <meta name="twitter:image" content="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai.svg">
    <meta name="twitter:image:alt" content="Your Best Candidate AI Logo">

    <!-- LocalBusiness Schema -->
    <script type="application/ld+json"> { "@context": "https://schema.org", "@type": "LocalBusiness", "name": "YourBestCandidateAI", "image": "https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai.svg", "@id": "", "url": "https://www.yourbestcandidate.ai/", "telephone": "", "priceRange": "$$", "address": { "@type": "PostalAddress", "streetAddress": "", "addressLocality": "", "postalCode": "", "addressCountry": "" }, "openingHoursSpecification": { "@type": "OpeningHoursSpecification", "dayOfWeek": [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ], "opens": "00:00", "closes": "23:59" } } </script>

    <!-- Logo Schema -->
    <script type="application/ld+json"> { "@context": "https://schema.org", "@type": "Organization", "name": "Your Best Candidate AI", "alternateName": "Best Candidate AI", "url": "https://www.yourbestcandidate.ai/", "logo": "https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai.svg" } </script>
</head>
<body>
    <header class="header-wrp main-header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="logo-svg" src="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai.svg"
                    style="filter: hue-rotate(66deg) saturate(150%);" alt="">
            </a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse mx-auto" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="pricing">Pricing</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" >About us</a>
                    </li> -->
                </ul>
            </div>
            <a href="/chat"
                    style="color: white; text-decoration: none;">
            <div class="chat_button_div" style="display: none;">
                <button class="btn header-btn">Chat</button></a>
            </div>
            <a href="/login"
                    style="color: white; text-decoration: none;">
            <div class="login_button_div" style="display: none;">
                <button class="btn header-btn">Login</button></a>
            </div>
        </div>
    </nav>
</header>
    
<div class="privacy_policy_container term_service_container container">
    <h1>Privacy Policy</h1>
    <p>Your BestRecruiterAI understands that your privacy is important to you. We are
        committed to protecting the privacy of your personally identifiable information as you
        use this website. This Privacy Policy tells you how we protect and use information that
        we gather from you. By using this website, you consent to the terms described in the
        most recent version of this Privacy Policy. You should also read our Terms of Use to
        understand the general rules about your use of this website, and any additional terms
        that may apply when you access services or materials on certain areas of this website.
        “We,” “our” means Your BestRecruiterAI and its aEiliates. “You,” “your,” visitor,” or
        “user” means the individual accessing this site.</p>
    <h2>PERSONAL AND NON-PERSONAL INFORMATION</h2>
    <p>Our Privacy Policy identifies how we treat your personal and non-personal information.</p>
    <h2>WHAT IS NON-PERSONAL INFORMATION AND HOW IS IT COLLECTED AND USED?</h2>
    <p>Non personal information is information that cannot identify you. If you visit this web
        site to read information, such as information about one of our services, we may collect
        certain non-personal information about you from your computer’s web browser.
        Because non-personal information cannot identify you or be tied to you in any way,
        there are no restrictions on the ways that we can use or share non-personal
        information. What is personal information and how is it collected? Personal information
        is information that identifies you as an individual, such as your name, mailing address,
        e-mail address, telephone number, and fax number. We may collect personal
        information from you in a variety of ways: • When you send us an application or other
        form • When you conduct a transaction with us, our aEiliates, or others • When we
        collect information about in you in support of a transaction, such as credit card
        information • In some places on this web site you have the opportunity to send us
        personal information about yourself, to elect to receive particular information, to
        purchase access to one of our products or services, or to participate in an activity.</p>
    <h2>ARE COOKIES OR OTHER TECHNOLOGIES USED TO COLLECT PERSONAL
        INFORMATION?</h2>
    <p>
        Yes, we may use cookies and related technologies, such as web beacons, to collect
        information on our web site. A cookie is a text file that is placed on your hard disk by a
        web page server. Cookies cannot be used to run programs or deliver viruses to your
        computer. Cookies are uniquely assigned to you and can only be read by a web server in
        the domain that issued the cookie to you. One of the primary purposes of cookies is to
        provide a convenience feature to save you time. The purpose of a cookie is to tell the
        Web server that you have returned to a specific page. For example, if you register with
        us, a cookie helps Your BestRecruiterAI to recall your specific information on
        subsequent visits. This simplifies the process of recording your personal information,
        such as billing addresses, shipping addresses, and so on. When you return to the same
        Your BestRecruiterAI website, the information you previously provided can be
        retrieved, so you can easily use the features that you customized. A web beacon is a
        small graphic image that allows the party that set the web beacon to monitor and
        collect certain information about the viewer of the web page, web-based document or
        e-mail message, such as the type of browser requesting the web beacon, the IP address
        of the computer that the web beacon is sent to and the time the web beacon was
        viewed. Web beacons can be very small and invisible to the user, but, in general, any
        electronic image viewed as part of a web page or e-mail, including HTML based content,
        can act as a web beacon. We may use web beacons to count visitors to the web pages
        on the web site or to monitor how our users navigate the web site, and we may include
        web beacons in e-mail messages in order to count how many messages sent were
        actually opened, acted upon or forwarded.</p>
    <p>
        Third party vendors also may use cookies on our web site. For instance, we may
        contract with third parties who will use cookies on our web site to track and analyze
        anonymous usage and volume statistical information from our visitors and members.
        Such information is shared externally only on an anonymous, aggregated basis. These
        third parties use persistent cookies to help us to improve the visitor experience, to
        manage our site content, and to track visitor behaviour. We may also contract with a
        third party to send e-mail to our registered [users/members].</p>
    <p>
        To help measure and improve the eEectiveness of our e-mail communications, the third
        party sets cookies. All data collected by this third party on behalf of Your
        BestRecruiterAI is used solely by or on behalf of Your BestRecruiterAI and is shared
        externally only on an anonymous, aggregated basis. From time to time we may allow
        third parties to post advertisements on our web site, and those third-party
        advertisements may include a cookie or web beacon served by the third party. This
        Privacy Policy does not cover the use of information collected from you by third party ad
        servers. We do not control cookies in such third party ads, and you should check the
        privacy policies of those advertisers and/or ad services to learn about their use of
        cookies and other technology before linking to an ad. We will not share your personal
        information with these companies, but these companies may use information about
        your visits to this and other web sites in order to provide advertisements on this site and
        other sites about goods and services that may be of interest to you, and they may share
        your personal information that you provide to them with others.</p>
    <p>
        You have the ability to accept or decline cookies. Most Web browsers automatically
        accept cookies, but you can usually modify your browser setting to decline cookies if
        you prefer. If you choose to decline cookies, you may not be able to fully experience the
        interactive features of the Your BestRecruiterAI websites you visit.
    </p>
    <h2>HOW DOES Your BestRecruiterAI USE PERSONAL INFORMATION?</h2>
    <p>Your BestRecruiterAI may keep and use personal information we collect from or about
        you to provide you with access to this web site or other products or services, to respond
        to your requests, to bill you for products/services you purchased, and to provide
        ongoing service and support, to contact you with information that might be of interest to
        you, including information about products and services of ours and of others, or ask for
        your opinion about our products or the products of others, for record keeping and
        analytical purposes and to research, develop and improve programs, products, services
        and content.</p>
    <p>
        Personal information collected online may be combined with information you provide to
        us through other sources We may also remove your personal identifiers (your name,
        email address, social security number, etc). In this case, you would no longer be
        identified as a single unique individual. Once we have de-identified information, it is
        non-personal information and we may treat it like other non-personal information.
        Finally, we may use your personal information to protect our rights or property, or to
        protect someone’s health, safety or welfare, and to comply with a law or regulation,
        court order or other legal process.</p>
    <h2>DOES Your BestRecruiterAI SHARE PERSONAL INFORMATION WITH OTHERS?</h2>
    <p>We will not share your personal information collected from this web site with an
        unrelated third party without your permission, except as otherwise provided in this
        Privacy Policy. In the ordinary course of business, we may share some personal
        information with companies that we hire to perform services or functions on our behalf.
        In all cases in which we share your personal information with a third party for the
        purpose of providing a service to us, we will not authorize them to keep, disclose or use
        your information with others except for the purpose of providing the services we asked
        them to provide.</p>
    <p>We will not sell, exchange or publish your personal information, except in conjunction
        with a corporate sale, merger, dissolution, or acquisition. For some sorts of
        transactions, in addition to our direct collection of information, our third party service
        vendors (such as credit card companies, clearinghouses and banks) who may provide
        such services as credit, insurance, and escrow services may collect personal
        information directly from you to assist you with your transaction. We do not control how
        these third parties use such information, but we do ask them to disclose how they use
        your personal information before they collect it.</p>
    <p>If you submit a review for a third party (person or business) using our Facebook Fan
        Review Application, during the submission process we ask your permission to gather
        your basic information (such as name and email address) which we then share with the
        third party for whom you are submitting the review. We may be legally compelled to
        release your personal information in response to a court order, subpoena, search
        warrant, law or regulation.</p>
    <p>We may cooperate with law enforcement authorities in investigating and prosecuting
        web site visitors who violate our rules or engage in behavior, which is harmful to other
        visitors (or illegal). We may disclose your personal information to third parties if we feel
        that the disclosure is necessary to protect our rights or property, protect someone’s
        health, safety or welfare, or to comply with a law or regulation, court order or other legal
        process. As discussed in the section on cookies and other technologies, from time to
        time we may allow a third party to serve advertisements on this web site.</p>
    <p>If you share information with the advertiser, including by clicking on their ads, this
        Privacy Policy does not control the advertisers use of your personal information, and
        you should check the privacy policies of those advertisers and/or ad services to learn
        about their use of cookies and other technology before linking to an ad.</p>
    <h2>HOW IS PERSONAL INFORMATION USED FOR COMMUNICATIONS?</h2>
    <p>We may contact you periodically by e-mail, mail or telephone to provide information
        regarding programs, products, services and content that may be of interest to you. In
        addition, some of the features on this web site allow you to communicate with us using
        an online form. If your communication requests a response from us, we may send you a
        response via e-mail. The e-mail response or confirmation may include your personal
        information. We cannot guarantee that our e-mails to you will be secure from
        unauthorized interception.</p>
    <h2>HOW IS PERSONAL INFORMATION SECURED?</h2>
    <p>We have implemented generally accepted standards of technology and operational
        security in order to protect personally-identifiable information from loss, misuse,
        alteration, or destruction. Only authorized personnel and third party vendors have
        access to your personal information, and these employees and vendors are required to
        treat this information as confidential. Despite these precautions, we cannot guarantee
        that unauthorized persons will not obtain access to your personal information.</p>
    <h2>LINKS</h2>
    <p>This site contains links to other sites that provide information that we consider to be
        interesting. Your BestRecruiterAI is not responsible for the privacy practices or the
        content of such web sites.</p>
    <h2>PUBLIC DISCUSSIONS</h2>
    <p>This site may provide public discussions on various business valuation topics. Please
        note that any information you post in these discussions will become public, so please
        do not post sensitive information in the public discussions. Whenever you publicly
        disclose information online, that information could be collected and used by others. We
        are not responsible for any action or policies of any third parties who collect information
        that users disclose in any such forums on the web site. Your BestRecruiterAI does not
        agree or disagree with anything posted on the discussion board. Also remember that
        you must comply with our other published policies regarding postings on our public
        forums.</p>
    <h2>HOW CAN A USER ACCESS, CHANGE, AND/OR DELETE PERSONAL INFORMATION?</h2>
    <p>You may access, correct, update, and/or delete any personally-identifiable information
        that you submit to the web site. You may also unsubscribe from mailing lists or any
        registrations on the web site. To do so, please either follow instructions on the page of
        the web site on which you have provided such information or subscribed or registered or
        contact us at <a href="mailto:support@yourbestcandiate.ai">support@yourbestrecruiter.com</a>.</p>
    <h2>CHILDREN’S PRIVACY</h2>
    <p>Your BestRecruiterAI will not intentionally collect any personal information (such as a
        child’s name or email address) from children under the age of 13. If you think that we
        have collected personal information from a child under the age of 13, please contact
        us.</p>
    <h2>CHANGES</h2>
    <p>Your BestRecruiterAI reserves the right to modify this statement at any time. Any
        changes to this Privacy Policy will be listed in this section, and if such changes are
        material, a notice will be included on the homepage of the web site for a period of time.
        If you have any questions about privacy at any websites operated by Your
        BestRecruiterAI or about our website practices, please contact us at:
        <a href="mailto:support@yourbestcandiate.ai">support@yourbestrecruiter.com</a>.
    </p>

</div>

    <section class="footer_wrp">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="footer_social_data">
                    <div class="footer_logo">
                        <a href="#">
                            <img src="https://www.yourbestcandidate.ai/static/images/Yourbestcandidateai.svg"
                                style="filter: hue-rotate(66deg) saturate(150%);" alt="">
                        </a>
                    </div>
                    <div class="footer_text">
                        <p>
                            <a href="mailto:support@yourbestcandidate.ai" target="_blank" rel="noopener noreferrer">
                                support@yourbestrecruiter.ai </a>
                        </p>
                    </div>
                    <div class="footer_icon">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.x.com/" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                                    <i class="bi bi-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="company_data">
                    <h6> Company </h6>
                    <ul>
                        <!-- <li>
                                <a href="#">
                                    About
                                </a>
                            </li> -->
                        <li>
                            <a data-bs-toggle="modal" data-bs-target="#demoModal" href="javascript:void(0);"> Contact </a>
                        </li>
                        <li>
                            <a href="./terms_services.html"> Terms of Services </a>
                        </li>
                        <li>
                            <a href="./privacy_policy.html"> Privacy Policy </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="company_data">
                    <h6> Get Started </h6>
                    <ul>
                        <li>
                            <a href="/register"> Sign Up </a>
                        </li>
                        <li>
                            <a href="/login"> Log In </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright_data">
                    <p> © 2024 All rights reserved. YourBestRecruiterAI, LLC </p>
                </div>
            </div>
        </div>
    </div>
</section>
    <script>
        console.log("")
        let user_id = ""
        if (user_id === null || user_id === undefined || user_id === '') {
            document.querySelector('.login_button_div').style.display = 'block';
        }else{
            document.querySelector('.chat_button_div').style.display = 'block';
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.yourbestcandidate.ai/static/assets/js/slick.min.js"></script>
    <script src="https://www.yourbestcandidate.ai/static/assets/js/custom.js"></script>
</body>
</html>