<div class="main-slider-container swiper-initialized swiper-horizontal swiper-backface-hidden">
				<div class="swiper-wrapper" id="swiper-wrapper-17111dc32bc3a2e7" aria-live="off" style="transition-duration: 0ms; transform: translate3d(-4240px, 0px, 0px); transition-delay: 0ms;">
					<div class="swiper-slide" role="group" aria-label="1 / 6" style="width: 843px; margin-right: 5px;">
						<strong>Answers to simple and complex questions</strong>
						<p>For example, what to take for a headache or how to solve a differential equation. Unlike traditional search engines, the bot doesn't redirect you to a website, but immediately gives you a specific answer.</p>
					</div>
					<div class="swiper-slide" role="group" aria-label="2 / 6" style="width: 843px; margin-right: 5px;">
						<strong>Creative tasks</strong>
						<p>For example, to write an essay, a funny story on a given topic or a musical composition. The bot will not be able to play it, but it will write the notes.</p>
					</div>
					<div class="swiper-slide" role="group" aria-label="3 / 6" style="width: 843px; margin-right: 5px;">
						<strong>Queries for neural networks that generate pictures</strong>
						<p>Midjourney and its analogs require specifically composed, detailed and accurate queries. ChatGPT will help compose them.</p>
					</div>
					<div class="swiper-slide" role="group" aria-label="4 / 6" style="width: 843px; margin-right: 5px;">
						<strong>Fiction retelling and reworking</strong>
						<p>The bot is familiar with many movies, TV shows, games, and books. You can ask it to retell the plot, come up with an alternative ending or a sequel.</p>
					</div>
					<div class="swiper-slide swiper-slide-prev" role="group" aria-label="5 / 6" style="width: 843px; margin-right: 5px;">
						<strong>Routine tasks</strong>
						<p>Such as drafting letters, generating meta tags, filling out briefs, translating text, etc.</p>
					</div>
					<div class="swiper-slide swiper-slide-active" role="group" aria-label="6 / 6" style="width: 843px; margin-right: 5px;">
						<strong>Programming assistance</strong>
						<p>ChatGPT can write code in a specified language (too long code will have to be generated in chunks, otherwise it will not fit into the program screen). With the help of the bot you can identify bugs, get help on reverse engineering tools and various programming languages.</p>
					</div>
				</div>
				<div class="main-slider__bottom">
					<div class="main-slider__prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-17111dc32bc3a2e7" aria-disabled="false">
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M26.6667 6.66663L15.8565 15.3147C12.8541 17.7167 12.8541 22.2832 15.8565 24.6852L26.6667 33.3333" stroke="white" stroke-width="3" stroke-linecap="round"></path>
						</svg>
					</div>
					<div class="main-slider-pag swiper-pagination-bullets swiper-pagination-horizontal"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span></div>
					<div class="main-slider__next swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-17111dc32bc3a2e7" aria-disabled="true">
						<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M26.6667 6.66663L15.8565 15.3147C12.8541 17.7167 12.8541 22.2832 15.8565 24.6852L26.6667 33.3333" stroke="white" stroke-width="3" stroke-linecap="round"></path>
						</svg>
					</div>
				</div>
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>